#carros {
    width: 100%;
    height: 1200px;
    background-color: #fcfdff;
}

.h1-carros {
    font-family: 'Oswald';
    color: #326ec7;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding-top: 60px;
}

.carros-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.duster-img {
    width: fit-content;
    margin-left: 20%;
}

.renault-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}

.text-renault {
    padding-left: 2%;
}

.text-renault img {
    width: 417px;
    height: 215.41px;
}

.jeep-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.compass-img {
    width: fit-content;
}

.text-jeep {
    padding-right: 2%;
}

.text-jeep img {
    width: 319px;
    height: 246px;
}

@media (max-width: 1280px) {
    #carros {
        height: 870px;
    }
    .renault-content {
        margin-right: 18%;
    }
    .jeep-content {
        margin-left: 0%;
    }
    .duster-img {
        width: fit-content;
    }
    .duster-img img {
        width: 400px;
        height: 338.65px;
    }
    .text-renault {
        padding-left: 5%;
        margin-bottom: 30px;
    }
    .text-renault img {
        width: 300px;
        height: 177px;
    }
    .compass-img img {
        width: 400px;
        height: 278.64px;
    }
    .text-jeep {
        margin-top: 30px;
    }
    .text-jeep img {
        width: 226px;
        height: 177px;
    }
}

@media (max-width: 700px) {
    #carros {
        height: 1120px;
    }
    .renault-content {
        flex-direction: column;
    }
    .text-renault {
        padding-left: 40%;
        margin-bottom: 30px;
    }
    .jeep-content {
        flex-direction: column-reverse;
    }
    .duster-img img {
        width: 300px;
        height: 253.99px;
    }
    .compass-img img {
        width: 300px;
        height: 208.98px;
    }
    .h1-carros {
        font-size: 0.8rem;
    }
}
