#carros {
    width: 100%;
    height: 1200px;
    background-color: #fcfdff;
}

.h1-carros {
    font-family: 'Oswald';
    color: #326ec7;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-top: 40px;
    font-weight: 400;
    text-transform: uppercase;
}


.carros-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-sobre{
    text-align: center;
    font-family: 'Roboto';
    color: #326ec7;
    margin-bottom: 20px;
    width: 75%;
    font-size: 1.5rem;
    line-height: 35px;
 
}


.duster-img {
    width: fit-content;
    
}

.renault-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-renault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    height: 100%;
    color: #3E5C89;
    font-family: 'Oswald';
    line-height: 12px;
    font-size: 1.2rem;
}

.text-jeep {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    height: 100%;
    color: #3E5C89;
    font-family: 'Oswald';
    line-height: 12px;
    font-size: 1.2rem;
}


.check{
    margin: 10px auto;  
}

.icon-check{
    display: flex;
    align-items: center;
    line-height: 2px;
}

.p-carros{
    font-family: 'Roboto';
    padding-left: 15px;
}



.jeep-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.compass-img {
    width: fit-content;
}

.text-jeep {
    padding-right: 2%;
}


@media (max-width: 1280px) {
    #carros {
        height: 1000px;
    }
   
    .jeep-content {
        margin-left: 0%;
    }
    .duster-img {
        width: fit-content;
    }
    .duster-img img {
        width: 400px;
        height: 283.9px;
    }
    .text-renault {
        margin: 30px 10px 30px 10px;
        font-size: 0.9rem;
    }
   
    .compass-img img {
        width: 400px;
        height: 278.64px;
    }
    .text-jeep {
        margin: 30px 10px 30px 10px;
        font-size: 0.9rem;
        min-width: 250px;
        padding: 0;
    }
  
    .p-sobre{
        font-size: 1.2rem;
        width: 80%;
        line-height: 28px;

    }

}

@media (max-width: 700px) {
    #carros {
        height: 1380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .renault-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-renault {
       min-width: 300px;
       font-size: 0.9rem;
      
      
    }

    .text-jeep{
       min-width: 300px;
       font-size: 0.9rem;
    }
    .jeep-content {
        flex-direction: column-reverse;
    }
    .duster-img img {
        width: 300px;
        height: 212.92px;
    }
    .compass-img img {
        width: 300px;
        height: 208.98px;
    }
    .h1-carros {
        font-size: 0.8rem;
    }
    .p-sobre{
        font-size: 1rem;
    }
   
}
