
#home {
    background-image: url(../../assets/background1.png);
    background-size: 1920px 1273px;
    display: flex;
    max-width: 1920px;
    height: 1150px;
   
}

.home-container {
    display: flex;
    width: 55%;
  
}

.h1-content {
    color: #fff;
    margin-top: 223px;
    margin-left: 25%;
    font-size: 2.3rem;
    font-family: 'Oswald';
}

.h1-content h1{
    font-weight: 300;
    line-height: 65px;
}

.span-home {
    font-size: 1.5rem;
    font-family: 'Roboto';
    margin-top: -30px;
    
}

.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 10%;
    padding-bottom: 10px;
}

.form-home {
    width: 530px;
    height: fit-content;
    margin-top: 217px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.label{
    font-family: 'Roboto';
}



.title-form {
    color: #326ec7;
    text-align: center;
    width: 100%;
    font-family: 'Oswald';
    letter-spacing: 1px;
}

.red-border {
    border: 1px solid red;
}

input,
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 15px;
    resize: none;
}

textarea {
    height: 120px;
}

button[type='submit'] {
    background-color: #326ec7;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 85%;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-family: 'Roboto';
}

button[type='submit']:hover {
    background-color: #00b4c7;
}

label {
    display: flex;
    color: #326ec7;
    flex-direction: column;
}

.whats {
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 40px;
}

@media (max-width: 1280px) {
    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    .content-home {
        margin-left: 0%;
    }
    .form-home {
        width: 450px;
        height: fit-content;
        margin-top: 0%;
        background: rgba(255, 255, 255, 0.9);
        
    }
  
    .home-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .h1-content {
        width: 300px;
        font-size: 1.4rem;
        margin-left: 0;
        margin-bottom: 50px;
        align-items: center;
        margin-top: -60px;
        text-align: center;
    }
    .h1-content h1{
        line-height: normal;
    }
    .span-home {
        font-size: 1.1rem;
        margin-left: 4%;
        margin-top: -10px;
    }
}

@media (max-width: 700px) {
    #home {
        background-image: url(../../assets/background.png);
        background-size: 700px 1273px;
    }
    .content-home {
       
        width: 90%;
        margin-top: 90px;
    }
    .home-container {
        width: 300px;
        margin-left: 0%;
        margin-top: -50px;
    }

    .h1-content {
        font-size: 1.3rem;
        margin-bottom: 0%;
        text-align: center;
    }
    .span-home {
        width: 100%;
        font-size: 1rem;
        margin-left: 0;
    }
    .form-home {
        width: 92%;
        height: fit-content;
        margin-top: 80px;
        align-items: center;
    }
   
    input,
    textarea {
        margin-bottom: 5px;
    }
}
